<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_x9QqEG99lUPhzBXowRRNrX4Z6EKvyL0</string>
	<key>GCM_SENDER_ID</key>
	<string>729250547121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitnessApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fitnessapp-e4df6</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessapp-e4df6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729250547121:ios:4a683f9b619c38d3a52990</string>
</dict>
</plist>